@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <h3>Admin Credentials</h3>
        <h5>Email: admin@mail.com</h5>
        <h5>Password: Admin123!</h5>
    </div>
</div>


